main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    color: aliceblue;
}

img-logo{
    height: 1000px;
}

.textfooter {
    color: aliceblue;
    font-size: 1.7rem;
    display: flex;
    flex-direction: row;
}

a{
    all: unset;
    cursor: pointer;
    margin: 1.1rem;
    border-right: solid #dd4ea1;
    padding-right: 1.2rem;
}

button:last-child {
    border-right: none;
}

span {
    color: #dd4ea1;
}