h4{
    color: aliceblue;
    text-align: center;
    background-color: #26013F;
}
button {
    all: unset;
    cursor: pointer;
    margin: 1.1rem;
    border-right: solid #dd4ea1;
    padding-right: 1.2rem;
    color: aliceblue;
}

.react-tema{
    border-style: solid;
    border-width: 3px;
    border-color: blueviolet;
    background-color: #26013F;
    max-width: 20%;
    border-radius: 10px;
    position: relative;
} 